*, ::before, ::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

div.app {
    --lp-gap-1: .25rem;
    --lp-gap-2: .5rem;
    --lp-gap-var-1: 3.5%;
    --lp-gap-var-2: 6%;
    --lp-pad-1: .3rem;
    --lp-pad-2: .6rem;
    --lp-text-op-2: .6;

    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    
    font-family: Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #ffffffde;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

div.app {
    width: 100%;
    height: 100%;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3.5rem;
    gap: 1.5rem;
}

div.explanitory-text, div.listplayer-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div.explanitory-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 1.5rem;
}

div.listplayer-cont {
    width: 100%;
    height: 70%;
    padding-left: 0px;
    padding-right: 0px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

div.custom-hdr-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 3rem;
}